@{
    ViewBag.Title = "Strona główna";
}

<div class="jumbotron">
    <div class="main-headers">
        <h1 class="text-center">@ViewBag.Message</h1>
    <h2 class="text-center">Części zamiennych</h2>
    </div>

</div>