@model PartsWarehouse.Models.MPK

@{
    ViewBag.Title = "Miejsce kosztów - usuwanie";
}

<h2>Usuń</h2>

<h3>Jesteś pewny, że chcesz usunąć to miejsce?</h3>
<div>
    <h4>Miejsce powstawania kosztów</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót", "Index")
        </div>
    }
</div>
